<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="OMS.OMSService" behaviorConfiguration="behav">
        <!--wsHttpBinding-->
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="WebBehavior" contract="OMS.OMSService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <!--http://localhost:8732/Design_Time_Addresses/BeyondService/BeyondService-->
            <add baseAddress="http://localhost:9999"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="behav">
          <!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false 并删除上面的元数据终结点  -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前设置为 false 
            以避免泄漏异常信息-->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="server=web.zsit.cc,6369;Database=CYMaster;Persist Security Info=True;User ID=webtest;Password=webtest_123" providerName="System.Data.SqlClient"/>
    <!--<add name="DBConnectionString"cypf_web_test   cypf_rf
         connectionString="server=223.4.174.115;Database=VSMS;Persist Security Info=True;User ID=sa;Password=x540788;"Integrated Security=SSPI;
         providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>